/*VARIABLES*/
// $purple: #005F3F;
$purple: #006548;
$faded_purple: lighten($purple, 20%);
$light_purple: lighten($purple, 60%);
$grey_background: #f8f7f7;
$white: #fff;
$black: #000;
$well_grey:#f5f5f5;
$focus_green: #96dcbe;
$text_color: #4d4d4d;
$divider_color: #CAC9CD;
$link_color: #2B57AB;
$link_hover_color: #7592c8;
$visited_link_color: #7c1389;
$table_striped_color: #EBE9E8;
