/*VARIABLES*/
$purple: #373151;
$faded_purple: #625A75;
$light_purple: #E6DEF4;
$grey_background: #f8f7f7;
$white: #fff;
$black: #000;
$well_grey:#f5f5f5;
$focus_green: #96dcbe;
$text_color: #4d4d4d;
$divider_color: #CAC9CD;
$link_color: #2B57AB;
$link_hover_color: #7592c8;
$visited_link_color: #7c1389;
$table_striped_color: #EBE9E8;
